{% extends "base.html" %}
{% block content %}

<div class="device-border">
    <div class="page-title">
        <p class="title-text">Самые актуальные новости в мире финансов</p>
    </div>

    <div>
        <!--    Selecting news period-->
        <div class="selecting-time">
            <h3>Просмотреть новости</h3>
            <select>
                <option value="24h" selected>За последние 24 часа</option>
                <option value="1h">За последний час</option>
                <option value="1w">За эту неделю</option>
            </select>
        </div>

        <button>Применить фильтр</button>
    </div>

    <div>
        <!--    News creation-->
        <button>Опубликовать свою новость</button>
    </div>
</div>

{% endblock %}
