{% extends "base.html" %}
{% block content %}


<div class="device-border">
    <div class="upper-block">
        <button id="back-btn">Назад</button>
        <div class="page-title">
            <p class="title-text">Новость: {{headline}}</p>
        </div>
    </div>



    <div class="main-block">
        <p class="description">{{description}}</p>
        <p class="why-not">{{why_not}}</p>
        <div class="sources">
            <p>Сообщают: </p>
            <p>{{sources}}</p>
        </div>
        <div class="last-line">
            <div>
                <p class="hotness">Оценка "горячести": {{hotness}}</p>
            </div>

            <div>
                <p>Время публикации</p>
                <p class="timeline">{{timeline}}</p>
            </div>

        </div>
    </div>
</div>
<!--<script src="../static/scripts/app.js"></script>-->
<script>
    let back_btn = document.getElementById('back-btn');

    back_btn.addEventListener('click', async function() {
        window.location.href = '/';
    })
</script>
{% endblock %}

