{% extends "base.html" %}
{% block content %}

<div class="device-border">
    <div class="upper-block">
        <div class="page-title">
            <p class="title-text">Самые актуальные новости в мире финансов</p>
        </div>

        <div>
            <!--    Selecting news period-->
            <div class="selecting-time">
                <label for="selector">Просмотреть новости</label>
                <select id="selector">
                    <option value="24h" selected>За последние 24 часа</option>
                    <option value="1h">За последний час</option>
                    <option value="1w">За эту неделю</option>
                </select>
            </div>


            <button id="filter">Применить фильтр</button>
        </div>

<!--        <div>-->
<!--            &lt;!&ndash;    News creation&ndash;&gt;-->
<!--&lt;!&ndash;            <button id="create">Опубликовать свою новость</button>&ndash;&gt;-->
<!--        </div>-->
    </div>
    <div class="news-container" id="news-container">

    </div>
</div>
<script src="../static/scripts/app.js"></script>

{% endblock %}
